[Unit]
Description=Zacs DHCP Server
After=network.target

[Service]
ExecStart=/usr/local/sbin/zdhcpd
Type=forking
Restart=on-failure
PIDFile=/var/run/zdhcpd.pid

[Install]
WantedBy=multi-user.target
